<h2 id="title">Welcome to Ember</h2>

<button type="button" onclick={{action 'createRecords'}}>Create Records</button>
<button type="button" onclick{{action 'saveRecords'}}>Save Records</button>

<p>Watch the <strong>Data</strong> tab in the inspector to see issue</p>
